*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: dimgray;
    color: white;
    padding: 15px 0;
}

header.container{
display: flex;
justify-content: left;
align-items: center;
}

.menu{
display: flex;
position: absolute;

}

.menu li{
    margin-left: 20px;
    list-style: none;
    left: 50%;
transform: translateX(-50%);
}

.menu a{
color: white;
text-decoration: none;
font-weight: bold;
transition: font-size 0.3s ease;
}

a:hover{
    font-size: 18px;

}

main{
    flex: 1;
    text-align: center;
    padding: 30px 0;
}
 p{
    margin: 10px;
 }

 .imagem_destaque{
    max-width: 50%;
height: auto;
margin-top: 20px;
transition: opacity 0.5s ease;
 }

.imagem_destaque:hover{
    opacity: 0.5;
}

footer{
background-color: dimgray;
color: white;
text-align: 15px 0;
margin-top: auto;
}

@media(max-width:786px){
    .imagem_destaque{
    max-width: 100%;
    }

    .container h1{
        font-size: medium;
    }

    .menu li{
        font-size: small;
    }
}

/* tem qrever a aula e consertar o menu */

.tabela__container{
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
}

table{
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
}

th,td{
    border: 1px solid grey;
    text-align: center;
}

table img{
    width: 120px;
    height: auto;
}

table input{
    transform: scale(1.5);
    margin: 10px; 
    cursor: pointer;
}

.botao{
    display: block;
    width: 200px;
    padding: 10;
    margin: 20px auto;
    background-color: darkorange;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5%;
    /* transition: suavisa as transiçoes de botao */
}

button:hover{
    background-color: lightsalmon;
    color: black;
}

table,thead,tbody,td,tr{
    display: block;
    width: 100%;
}
td image{
    width: 100px;
    height: auto;
}