
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
}

.deixar-azul {
    color: #22d4fd;
}

.apresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__conteudo{
    width: 615px;
  
}


.deixar-azul-vermeio {
    color: #22d4fd;
    border: 1px solid red
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
}

.papresentacao__conteudo__texto{
    font-size: 24px;
}